/* Sidebar Styles */
/* .sidebar {
  width: 250px;
  height: 100%;
} */

/* Navigation Styles */
.nav-link {
  color: #2c3137;
}

.nav-link:hover {
  color: #c31d25;
}

.nav-link:active {
  color: #c31d25;
}

/* Sidebar style */
.sidebar {
  width: 250px;
  transition: transform 0.3s ease-in-out;
}

.sidebar.closed {
  transform: translateX(-100%);
}

@media (max-width: 992px) {
  .sidebar {
    position: absolute;
    z-index: 1000;
    background: white;
    height: 100%;
  }

  .sidebar.open {
    transform: translateX(0);
  }
}

/* Top Bar Styles */
.topbar {
  background-color: #c31d25;
  color: white;
}

/* Profile Image Styles */
.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
}
