@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: #2c3137;
  background-color: #ffffff;
}
/* COLORS
Red: #C31D25
Black: #000000
GrayDark: #868686
GrayLight: #D3D3D3
White: #FFFFFF
Text: #343A40
*/

h2 {
  font-size: 40px;
  line-height: auto;
}
p {
  font-size: 16px;
  color: #868686;
}

/* Button Style 1 */
.button-style1 {
  padding: 8px 24px;
  background-color: #c31d25;
  color: #ffffff;
  border-radius: 10px;
}

.button-style1:hover {
  padding: 8px 24px;
  background-color: rgb(161, 25, 32);
  color: #ffffff;
  border-radius: 10px;
}

/* Navigation  */
.nav-custom-padding {
  padding: 24px 0px;
}

@media (max-width: 767px) {
  .nav-custom-padding {
    padding: 20px;
    background-color: #fff;
  }
}

/* Hero Section  */
.hero-section-background {
  background-image: url("/background/hero-section-bg.png");
  background-size: cover;
  background-position: center;
  height: 400px;
}

.hero-padding {
  padding: 0px;
}

@media (max-width: 767px) {
  .hero-padding {
    padding-top: 88px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Section setting defualt padding */
.section-padding {
  padding: 100px 0px;
}

@media (max-width: 767px) {
  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* alter bootstrap style */
.card {
  height: 100%;
}

.card-body {
  flex-grow: 1;
}

.btn-outline-danger {
  border-color: #c31d25;
  color: #c31d25;
}

.btn-outline-danger:hover {
  background-color: #c31d25;
}
